*,
*::after,
*::before {
  box-sizing: border-box;
}

.cards-container {
  --main-color: #17a2b8;
  --border-color: #cfcfcf;
  --btn-color: #fff;
  --btn-hover-color: #48d55d;

  color: #000;

  font-family: sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-align: center;
}

.container-title {
  margin: 15px 0 15px;

  color: var(--main-color);

  font-size: 22px;
  line-height: 26px;
  font-weight: 600;
  text-transform: uppercase;
}

.card-wrapper{
  --img-size: 100px;

  display: inline-block;
  width: 100%;
  max-width: calc(3.8 * var(--img-size));
  min-width: calc(3.2 * var(--img-size));

  padding: 10px;

  text-align: center;
  font-family: sans-serif;
}

.card-inner {
  border: 1px solid var(--main-color);
}

.card-bg-header {
  height: calc(1.5 * var(--img-size));

  background-color: var(--main-color);
}

.card-content {
  padding: 0 30px;
  margin-top: calc(-0.5 * var(--img-size));
}

.photo-wrapper {
  margin-bottom: 12px;
}

.photo {
  box-sizing: border-box;
  width: var(--img-size);
  height: var(--img-size);

  padding: 4px;
  border: 1px solid var(--border-color);
  border-radius: 50%;

  background-color: #fff;

  object-fit: cover;
  object-position: top;
}

.format-text {
  margin: 0 auto;

  white-space: nowrap;
  overflow: hidden;

  text-overflow: ellipsis;
  text-transform: capitalize;
}

.fullname-user {
  max-width: 95px;

  margin-bottom: 5px;

  font-size: 16px;
  line-height: 20px;
}

.address-user {
  max-width: 155px;

  margin-bottom: 15px;

  font-size: 14px;
  line-height: 18px;
}

.map-marker {
  width: 12px;
  height: 18px;

  margin-right: 2px;

  object-fit: cover;
}

.btn-wrapper {
  min-width: 182px;

  padding: 16px 0;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  margin-bottom: 15px;
}

.btn {
  padding: 8px 10px;
  border: transparent;
  border-radius: 1px;

  color: var(--btn-color);
  background-color: var(--main-color);

  font-size: 14px;
  line-height: 18px;
}

.btn:hover {
  background-color: var(--btn-hover-color);
}

.follow {
  max-width: 75px;

  margin-right: 5px;
}

.send {
  max-width: 135px;
}

.text-user {
  margin-bottom: 20px;

  font-size: 14px;
  line-height: 18px;
}

.card-footer {
  height: calc(0.6 * var(--img-size));

  background-color: var(--main-color);
}

.social-icon {
  display: inline-block;
  width: 32px;
  height: 60px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px;
}

.fb {
  background-image: url(./../icons/facebook.svg);
}

.google {
  background-image: url(./../icons/google-plus.svg);
  background-size: 32px;
}

.twitter {
  background-image: url(./../icons/twitter.svg);
}
